<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient_type.name %>
</p>

<p>
  <strong>Family:</strong>
  <%= link_to @ingredient_type.ingredient_family.name, ingredient_family_path(@ingredient_type.ingredient_family.id) %>
</p>

  <% if @filters.any? %>
    <h4> Filtered by: </br>
      --
      <% @filters.each do |f| %>
        <%= " #{f.name} -- " if f %> 
      <% end %>
    </h4>
    <%= link_to 'Remove filters', @ingredient %></br></br>
  <% end %>

<%= link_to 'Edit', edit_ingredient_type_path(@ingredient_type) %> |
<%= link_to 'All', ingredient_types_path %> | 
<%= link_to 'New', new_ingredient_type_path %>


<div class="row-fluid">
  <div class="span3">
    <p>
      <h1>Cocktails:</h1>
        <ul>
          <% @ingredient_type.filtered_cocktails(@ingredient_filter_1,@ingredient_filter_2,@ingredient_type_filter_1,@ingredient_type_filter_2,@ingredient_family_filter_1,@ingredient_family_filter_2,@modification_filter_1).
          #ingredients.map{|i| i.cocktails}.flatten.uniq.
          each do |cocktail| %>
          <li> <%= render partial: 'cocktails/list_cocktail', locals: {cocktail: cocktail } %> </li>
          <% end %>
        </ul>
    </p>
  </div>

  <div class="span3">
    <p>
      <h1>Child Ingredients:</h1>
        <ul>
          <% @ingredient_type.filtered_child_ingredients(@ingredient_filter_1,@ingredient_filter_2,@ingredient_type_filter_1,@ingredient_type_filter_2,@ingredient_family_filter_1,@ingredient_family_filter_2,@modification_filter_1).sort_by{ |i| -i.cocktails.count }.each do |ingredient| %>
          <li> <%= link_to ingredient.name, ingredient_path(ingredient.id) %> (in <%= ingredient.cocktails.count %> cocktails)</li>
          <% end %>
        </ul>
    </p>
  </div>

  <div class="span3">
    <p>
      <h1> Shared Ingredients:</h1>
        <ul>
          <% @ingredient_type.ingredients.map{|i| i.shared_ingredients(@ingredient_filter_1,@ingredient_filter_2,@ingredient_type_filter_1,@ingredient_type_filter_2,@ingredient_family_filter_1,@ingredient_family_filter_2,@modification_filter_1)}.flatten.uniq.reject{|si| si.ingredient_type.id == @ingredient_type.id}.sort_by{|i| -i.cocktails.count }.each do |i| %>
	            <li> 
                <%= link_to i.show(true), ingredient_path(i.id) %> 
                <% unless @no_ingredient_filter %>
                  <a onclick="cocktailFilter('ingredient_filter',<%=i.id%>)"> -filter-</a>
                <% end %>

              </li>
          <% end %>
        </ul>
    </p>
  </div>
</div>