<p id="notice"><%= notice %></p>

<h1>
  <%= @ingredient_type.name %>
</h1>

<p>
  <strong>Family:</strong>
  <%= link_to @ingredient_type.ingredient_family.name, ingredient_family_path(@ingredient_type.ingredient_family.id) %>
</p>

  <% if @filters.any? %>
    <h4> Filtered by: </br>
      --
      <% @filters.each do |f| %>
        <%= " #{f.name} -- " if f %> 
      <% end %>
    </h4>
    <%= link_to 'Remove filters', @ingredient %></br></br>
  <% end %>

<%= link_to 'Edit', edit_ingredient_type_path(@ingredient_type) %> |
<%= link_to 'All', ingredient_types_path %> | 
<%= link_to 'New', new_ingredient_type_path %>


<div class="row-fluid">

  <div class="span3">
    <p>
      <h1>Cocktails: (<%= @filtered_cocktails.count %>)</h1>
        <ul>
          <% @filtered_cocktails.each do |cocktail| %>
          <li> <%= render partial: 'cocktails/list_cocktail', locals: {cocktail: cocktail } %> </li>
          <% end %>
        </ul>
    </p>
  </div>

  <div class="span3">
    <p>
      <h1>Child Ingredients: (<%= @ingredient_type.ingredients.count%>)</h1>
        <ul>
          <% @ingredient_type.ingredients.sort_by{ |i| -i.cocktails.count }.each do |ingredient| %>
          <li> <%= link_to ingredient.name, ingredient_path(ingredient.id) %> (in <%= ingredient.cocktails.count %> cocktails)</li>
          <% end %>
        </ul>
    </p>

    <%= render partial: 'ingredient_types/types_list', locals: {filtered_ingredient_types: @filtered_ingredient_types, no_ingredient_type_filter: @no_ingredient_type_filter} %>

  </div> 

  <div class="span3">
    <%= render partial: 'ingredients/ingredient_list', locals: {filtered_shared_ingredients: @filtered_shared_ingredients, no_ingredient_filter: @no_ingredient_filter} %>
  </div>

  <div class="span3">
    <%= render partial: 'ingredient_families/families_list', locals: {filtered_ingredient_families: @filtered_ingredient_families, no_ingredient_family_filter: @no_ingredient_family_filter} %>

    <% unless @filtered_modifications.empty? %>
      <%= render partial: 'ingredient_modifications/modifications_list', locals: {filtered_modifications: @filtered_modifications, no_modification_filter: @no_modification_filter} %>
    <% end %>
  </div>

</div>