<%= form_for(@cocktail) do |f| %>
  <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
      <% @cocktail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <label>Ingredients</label>
  </br>
  <% @ingredients.each_with_index do |i, count| %>
    <input name="ingredient_<%=count%>[amount]" value="<%=i.amount %>">
    <select name="ingredient_<%=count%>[ingredient_modification_id]" class="chosen-select">
      <option value></option>
      <% @modifications_dropdown.each do |name, id| %>
        <% if i.ingredient_modification_id == id %>
          <option value='<%=id%>' selected><%=name%></option>
        <% else %>
          <option value='<%=id%>'><%=name%></option>
        <% end %>
      <% end %>
    </select>
    <select name="ingredient_<%=count%>[ingredient_id]" class="chosen-select">
      <option value></option>
      <% @ingredients_dropdown.each do |name, id| %>
        <% if i.ingredient_id == id %>
          <option value='<%=id%>' selected><%=name%></option>
        <% else %>
          <option value='<%=id%>'><%=name%></option>
        <% end %>
      <% end %>
    </select>
    </br>
  <% end %>
<!--   figure out best way to do embeded form -->
  <div class="field">
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </div>
  <div class="field">
    <%= f.label :glass_id %><br>
    <%= f.select :glass_id, options_for_select(@glasses_dropdown, @cocktail.glass_id), {}, class: 'chosen-select' %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_area :source %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.select :rating, options_for_select(@rating_dropdown, @cocktail.rating), {}, class: 'chosen-select' %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.select :priority, options_for_select(@priority_dropdown, @cocktail.priority), {}, class: 'chosen-select' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
