<div class="container">
  <%= form_for(@cocktail) do |f| %>
    <% if @cocktail.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

        <ul>
        <% @cocktail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <label>Ingredients</label>
    </br>
    <% @ingredients.each_with_index do |i, count| %>
      <div class="row-fluid">
        <div class="span2">
          <input name="ingredient_<%=count%>[amount]" value="<%=i.amount %>">
        </div>
        <div class="span2">
          <select name="ingredient_<%=count%>[ingredient_modification_id]" class="chosen-select" display='inline'>
            <option>Modification</option>
            <option value></option>
            <% @modifications_dropdown.each do |name, id| %>
              <% if i.ingredient_modification_id == id %>
                <option value='<%=id%>' selected><%=name%></option>
              <% else %>
                <option value='<%=id%>'><%=name%></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <div class="span3">
          <select id='<%="ingredient_#{count}"%>' name="ingredient_<%=count%>[ingredient_id]" class="chosen-select" display='inline'>
            <%= render partial: 'ingredients_dropdown', locals: {i: i, count: count}%>
          </select>
        </div>
        <div class="span2">
          <%= link_to "New ingredient", '#', onclick: "addNewIngredient('#{new_ingredient_url}?div=ingredient_#{count}');" %>
        </div>

        </br>
      </div>
    <% end %>
  <!--   figure out best way to do embeded form -->
    <div class="field">
      <%= f.label :instructions %><br>
      <%= f.text_area :instructions %>
    </div>
    <div class="field">
      <%= f.label :glass_id %><br>
      <%= f.select :glass_id, options_for_select(@glasses_dropdown, @cocktail.glass_id), {}, class: 'chosen-select' %>
    </div>
    <div class="field">
      <%= f.label :source_id %><br>
      <%= f.select :source_id, options_for_select(@source_dropdown, @cocktail.source_id), {include_blank: "Source"}, class: 'chosen-select', style: 'width: 200px' %>
    </div>
    <div class="field">
      <%= f.label :rating %><br>
      <%= f.select :rating, options_for_select(@rating_dropdown, @cocktail.rating), {include_blank: "Rating"}, class: 'chosen-select', style: 'width: 100px' %>
    </div>
    <div class="field">
      <%= f.label :priority %><br>
      <%= f.select :priority, options_for_select(@priority_dropdown, @cocktail.priority), {include_blank: "1 is high priority"}, class: 'chosen-select', style: 'width: 100px' %>
    </div>
    <div class="actions btn btn-info">
      <%= f.submit 'Create cocktail', class: 'btn btn-info' %>
    </div>
  <% end %>

    <div> 
      <div class="modal hide fade existing-ingredient-modal" id="existing_ingredient_modal">
        <div class="modal-header" style="border-bottom: 1px solid #dddddd;">
          <span>Create Ingredient</span>
          <button type="button" class="btn btn-mini pull-right" data-dismiss="modal">
            <i class="icon-remove icon-white"></i>
          </button>
        </div>
        <div id="existing_ingredient_modal_body"></div>
      </div>
    </div>
</div>