<h3><%= link_to cocktail.name, cocktail_path(cocktail.id)%></h3>
<p>Source: <%= link_to cocktail.cocktail_source.name, cocktail.cocktail_source %> | Priority: <%= cocktail.priority %> 
	<% if cocktail.rating.present? %>
		| Rating: <%= cocktail.rating %> 
		<% end %>
</p>
<ul>
<% cocktail.ingredients_to_cocktails.each do |i| %>
	<li> <%= link_to i.show, ingredient_path(i.ingredient_id) %>
		<% unless no_ingredient_filter or active_filters.include? "ingredient_filter_#{i.ingredient_id}" %>
            <i class="icon-filter" onclick="cocktailFilter('ingredient_filter',<%=i.ingredient_id%>)"></i>
        <% end %>
	</li>
<% end %>
</ul>