<h1>Listing cocktails</h1>

<%= link_to 'New Cocktail', new_cocktail_path %>

<table class="table" id="cocktails_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ingredient Summary</th>
      <th>Glass</th>
      <th>Source</th>
      <th>Rating</th>
      <th>Priority</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= link_to cocktail.name, cocktail %></td>
        <td><%= cocktail.some_ingredients %></td>
        <td><%= cocktail.glass.name %></td>
        <td><%= cocktail.cocktail_source.name if cocktail.cocktail_source %></td>
        <td><%= cocktail.rating %></td>
        <td><%= cocktail.priority %></td>
        <td><%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $(function(){
    $("#cocktails_table").dataTable({
      "bPaginate": false
    })
  });
</script>