<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cocktail.description %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @cocktail.instructions %>
</p>

<p>
  <strong>Glass:</strong>
  <%= @cocktail.glass %>
</p>

<p>
  <strong>Source:</strong>
  <%= @cocktail.source %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @cocktail.rating %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @cocktail.priority %>
</p>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
