
      <% if shared_ingredient_heirarchy.first %>
      <h3> Shared (<%=shared_ingredient_heirarchy.count%>)</h3>
      <p><span class="muted">Click <i class="icon-filter"></i> to filter <span></p>
      <ul> <!-- open category children -->
        <li> <%= link_to shared_ingredient_heirarchy[0].family_name, ingredient_family_path(shared_ingredient_heirarchy[0].family_id) %> 
          <% unless no_ingredient_family_filter %>
            <i class="icon-filter" onclick="cocktailFilter('ingredient_family_filter',<%=shared_ingredient_heirarchy[0].family_id%>)"></i>
          <% end %>
        </li>
          <ul> <!-- open family children -->
            <li> <%= link_to shared_ingredient_heirarchy[0].type_name, ingredient_type_path(shared_ingredient_heirarchy[0].type_id) %> 
              <% unless no_ingredient_type_filter %>
                <i class="icon-filter" onclick="cocktailFilter('ingredient_type_filter',<%=shared_ingredient_heirarchy[0].type_id%>)"></i>
              <% end %>
            </li>
              <ul> <!-- open type children -->
                <li> <%= link_to shared_ingredient_heirarchy[0].ingredient_name, ingredient_path(shared_ingredient_heirarchy[0].ingredient_id) %> 
                  <% unless no_ingredient_filter %>
                    <i class="icon-filter" onclick="cocktailFilter('ingredient_filter',<%=shared_ingredient_heirarchy[0].ingredient_id%>)"></i>
                  <% end %>
                </li>

                <% shared_ingredient_heirarchy[1..-1].each_with_index do |si, i| %>
                  <% if shared_ingredient_heirarchy[i].type_id == shared_ingredient_heirarchy[1..-1][i].type_id %>
                    <li> <%= link_to shared_ingredient_heirarchy[1..-1][i].ingredient_name, ingredient_path(shared_ingredient_heirarchy[1..-1][i].ingredient_id) %>
                      <% unless no_ingredient_filter %>
                        <i class="icon-filter" onclick="cocktailFilter('ingredient_filter',<%=shared_ingredient_heirarchy[1..-1][i].ingredient_id%>)"></i>
                      <% end %>
                    </li>   

                  <% elsif shared_ingredient_heirarchy[i].family_id == shared_ingredient_heirarchy[1..-1][i].family_id %>
                   </ul><!-- close type children -->
                    <li> <%= link_to shared_ingredient_heirarchy[1..-1][i].type_name, ingredient_type_path(shared_ingredient_heirarchy[1..-1][i].type_id) %>
                        <% unless no_ingredient_type_filter %>
                          <i class="icon-filter" onclick="cocktailFilter('ingredient_type_filter',<%=shared_ingredient_heirarchy[1..-1][i].type_id%>)"></i>
                        <% end %>
                    </li>
                    <ul><!-- open type children -->
                      <li> <%= link_to shared_ingredient_heirarchy[1..-1][i].ingredient_name, ingredient_path(shared_ingredient_heirarchy[1..-1][i].ingredient_id) %>
                        <% unless no_ingredient_filter %>
                          <i class="icon-filter" onclick="cocktailFilter('ingredient_filter',<%=shared_ingredient_heirarchy[1..-1][i].ingredient_id%>)"></i>
                        <% end %>
                      </li>
                  <% else %>
                    </ul><!-- close type children -->
                  </ul><!-- close family children -->
                  <li> <%= link_to shared_ingredient_heirarchy[1..-1][i].family_name, ingredient_family_path(shared_ingredient_heirarchy[1..-1][i].family_id) %> 
                    <% unless no_ingredient_family_filter %>
                      <i class="icon-filter" onclick="cocktailFilter('ingredient_family_filter',<%=shared_ingredient_heirarchy[1..-1][i].family_id%>)"></i>
                    <% end %>
                  </li>
                  <ul> <!-- open family children -->
                  <li> <%= link_to shared_ingredient_heirarchy[1..-1][i].type_name, ingredient_type_path(shared_ingredient_heirarchy[1..-1][i].type_id) %>
                        <% unless no_ingredient_type_filter %>
                          <i class="icon-filter" onclick="cocktailFilter('ingredient_type_filter',<%=shared_ingredient_heirarchy[1..-1][i].type_id%>)"></i>
                        <% end %>
                  </li>
                    <ul><!-- open type children -->
                     <li> <%= link_to shared_ingredient_heirarchy[1..-1][i].ingredient_name, ingredient_path(shared_ingredient_heirarchy[1..-1][i].ingredient_id) %>
                        <% unless no_ingredient_filter %>
                          <i class="icon-filter" onclick="cocktailFilter('ingredient_filter',<%=shared_ingredient_heirarchy[1..-1][i].ingredient_id%>)"></i>
                        <% end %>
                     </li>
                  <% end %>
                <% end %>
          </ul> <!-- type -->
      </ul> <!-- family -->
    </ul> <!-- category -->
    <% end %>