<h1>Listing ingredients</h1>
*All priority counts include the count of previous priorities
</br> </br>
<%= link_to 'New Ingredient', new_ingredient_path %>
<table class="table" id="ingredients_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Family</th>
      <th>Category</th>
      <th style="padding:10 px">Priority 1</th>
      <th>Priority 1-2</th>
      <th>Priority 1-3</th>
      <th>Priority 1-4</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= link_to ingredient.ingredient, ingredient_path(ingredient.id) %></td>
        <td><%= link_to ingredient.ingredient_type_name, ingredient_type_path(ingredient.ingredient_type_id) %></td>
        <td><%= link_to ingredient.ingredient_family_name, ingredient_family_path(ingredient.ingredient_family_id) %></td>
        <td><%= link_to ingredient.ingredient_category_name, ingredient_category_path(ingredient.ingredient_category_id) %></td>
        <td><%= ingredient.p1s %> </td>
        <td><%= ingredient.p2s %> </td>
        <td><%= ingredient.p3s %> </td>
        <td><%= ingredient.p4s %> </td>
        <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $(function(){
    $("#ingredients_table").dataTable({
      "bPaginate": false,
      "bDestroy": true
    })
  });
</script>
