<p id="notice"><%= notice %></p>

<p>
  <h1> <%= @ingredient.name %></h1>
  <% if @filters.any? %>
    <h4> Filtered by: </br>
      --
      <% @filters.each do |f| %>
        <%= " #{f.name} -- " if f %> 
      <% end %>
    </h4>
    <%= link_to 'Remove filters', @ingredient %></br></br>
  <% end %>
  <strong>Type:</strong>
  <%= link_to @ingredient.ingredient_type.name, ingredient_type_path(@ingredient.ingredient_type.id) %>
</p>

<% if @ingredient.brand.present? %>
<p>
  <strong>Brand:</strong>
  <%= @ingredient.brand %>
</p>
<% end %>

<% if @ingredient.make.present? %>
<p>
  <strong>Make:</strong>
  <%= @ingredient.make %>
</p>
<% end %>

<% if @ingredient.description.present? %>
<p>
  <strong>Description:</strong>
  <%= @ingredient.description %>
</p>
<% end %>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'All Ingredients', ingredients_path %>

<div class="row-fluid">
  <div class="span4">
    <p>
      <h3>Cocktails: (<%=@filtered_cocktails.count%>)</h3>
        <ul>
          <% @filtered_cocktails.each do |cocktail| %>
          <li> <%= render partial: 'cocktails/list_cocktail', locals: {cocktail: cocktail, active_filters: @active_filters, no_ingredient_filter: @no_ingredient_filter } %> </li>
          <% end %>
        </ul>
    </p>
  </div>

 <div class="span4">

  <%= render partial: 'ingredients/shared_heirarchy', locals: {shared_ingredient_heirarchy: @shared_ingredient_heirarchy, no_ingredient_filter: @no_ingredient_filter, no_ingredient_type_filter: @no_ingredient_type_filter, no_ingredient_family_filter: @no_ingredient_family_filter, active_filters: @active_filters} %>
</div>

  <div class="span4">

    <% unless @filtered_modifications.empty? %>
      <%= render partial: 'ingredient_modifications/modifications_list', locals: {filtered_modifications: @filtered_modifications, no_modification_filter: @no_modification_filter} %>
    <% end %>
  </div> 

</div>
