<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @ingredient.ingredient_type.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @ingredient.brand %>
</p>

<p>
  <strong>Make:</strong>
  <%= @ingredient.make %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ingredient.description %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
