<!-- <div class="row-fluid">

	<div class="span6">
		<ul>
		<li><%= link_to 'Create new ingredient', new_ingredient_path %></li>
		<li><%= link_to 'Create new cocktail', new_cocktail_path %></li>
		<li><%= link_to 'Create new ingredient type', new_ingredient_type_path %></li>
		<li><%= link_to 'Create new ingredient family', new_ingredient_family_path %></li>
		<li><%= link_to 'Create new ingredient category', new_ingredient_category_path %></li>
		<li><%= link_to 'Create new ingredient modification', new_ingredient_modification_path %></li>
		<li><%= link_to 'Create new glass', new_glass_path %></li>
		<li><%= link_to 'Create new source', new_cocktail_source_path %></li>
		</ul>
	</div>

	<div class="span6">
		<ul>
		<li><%= link_to 'All ingredients', ingredients_path %></li>
		<li><%= link_to 'All cocktails', cocktails_path %></li>

		</ul>		
	</div>

</div> -->



<div class="row-fluid">
	<div class="span6">
		<h3>
			Random Cocktail
		</h3>
	    <%= render partial: 'cocktails/list_cocktail', locals: {cocktail: @cocktail } %> 
	</div>
	<div class="span6">
		<h3>
			Random Ingredient
		</h3>
	    <%= link_to @ingredient.name, @ingredient %> 
	</div>
</div>
<h1> Spirits </h1>
<div class="row-fluid">
	<% @ingredient_families.each do |inf| %>
		<p> 
			<%= link_to inf.name, inf %>
		</p>
	<% end %>
</div>

<!-- if index % 4 is 0, end current row, then start a new row -->

<footer class="footer">
		<%= link_to 'Ingredient types', ingredient_types_path %> |
		<%= link_to 'Ingredient families', ingredient_families_path %> |
		<%= link_to 'Ingredient categories', ingredient_categories_path %> |
		<%= link_to 'Ingredient modifications', ingredient_modifications_path %> |
		<%= link_to 'Glasses', glasses_path %> |
		<%= link_to 'Sources', cocktail_sources_path %> 
</footer>