<ul>
<li><%= link_to 'Create new ingredient', new_ingredient_path %></li>
<li><%= link_to 'Create new cocktail', new_cocktail_path %></li>
<li><%= link_to 'Create new ingredient type', new_ingredient_type_path %></li>
<li><%= link_to 'Create new ingredient family', new_ingredient_family_path %></li>
<li><%= link_to 'Create new ingredient category', new_ingredient_category_path %></li>
<li><%= link_to 'Create new ingredient modification', new_ingredient_modification_path %></li>
<li><%= link_to 'Create new glass', new_glass_path %></li>
</ul>