<h3> All Ingredients </h3>
<div class="row-fluid">

 <div class="span10">

  <%= render partial: 'ingredients/shared_heirarchy', locals: {shared_ingredient_heirarchy: @shared_ingredient_heirarchy, no_ingredient_filter: @no_ingredient_filter, no_ingredient_type_filter: @no_ingredient_type_filter, no_ingredient_family_filter: @no_ingredient_family_filter, active_filters: @active_filters, no_ingredient_modification_filter: @no_ingredient_modification_filter, ingredient_modifications: @ingredient_modifications} %>
</div>


	<div class="span2">
		<h3>
			Random Ingredient
		</h3>
	    <%= link_to @ingredient.name, @ingredient %> 
	    
		<h3>
			Random Cocktail
		</h3>
	    <%= render partial: 'cocktails/list_cocktail', locals: {cocktail: @cocktail, no_ingredient_filter: @no_ingredient_filter, active_filters: @active_filters } %> 
	</div>


</div>

<!-- if index % 4 is 0, end current row, then start a new row -->

<footer class="footer">
		<%= link_to 'Ingredient types', ingredient_types_path %> |
		<%= link_to 'Ingredient families', ingredient_families_path %> |
		<%= link_to 'Ingredient categories', ingredient_categories_path %> |
		<%= link_to 'Ingredient modifications', ingredient_modifications_path %> |
		<%= link_to 'Glasses', glasses_path %> |
		<%= link_to 'Sources', cocktail_sources_path %> 
</footer>