<%= form_for(@ingredient_inventory) do |f| %>
  <% if @ingredient_inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient_inventory.errors.count, "error") %> prohibited this ingredient_inventory from being saved:</h2>

      <ul>
      <% @ingredient_inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :ingredient_id %><br>
    <%= f.number_field :ingredient_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
