<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ingredient_inventory.user_id %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @ingredient_inventory.ingredient_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ingredient_inventory.amount %>
</p>

<%= link_to 'Edit', edit_ingredient_inventory_path(@ingredient_inventory) %> |
<%= link_to 'Back', ingredient_inventories_path %>
