<p id="notice"><%= notice %></p>

<h1>Modification:  <%= @ingredient_modification.name %> </h1>

<% if @filters.any? %>
    <h4> Filtered by: </br>
      --
      <% @filters.each do |f| %>
        <%= " #{f.name} -- " if f %> 
      <% end %>
    </h4>
    <%= link_to 'Remove filters', @ingredient_modification %></br></br>
  <% end %>


<div class="row-fluid">

  <div class="span3">
    <p>
      <h1>Cocktails:</h1>
        <ul>
          <% @filtered_cocktails.each do |cocktail| %>
          <li> <%= render partial: 'cocktails/list_cocktail', locals: {cocktail: cocktail } %> </li>
          <% end %>
        </ul>
    </p>
  </div>

  <div class="span3">
    <%= render partial: 'ingredients/ingredient_list', locals: {filtered_shared_ingredients: @filtered_shared_ingredients, no_ingredient_filter: @no_ingredient_filter} %>
  </div>


  <div class="span3">
    <%= render partial: 'ingredient_types/types_list', locals: {filtered_ingredient_types: @filtered_ingredient_types, no_ingredient_type_filter: @no_ingredient_type_filter} %>
  </div>


  <div class="span3">
    <%= render partial: 'ingredient_families/families_list', locals: {filtered_ingredient_families: @filtered_ingredient_families, no_ingredient_family_filter: @no_ingredient_family_filter} %>

    <% unless @filtered_modifications.empty? %>
      <%= render partial: 'ingredient_modifications/modifications_list', locals: {filtered_modifications: @filtered_modifications, no_modification_filter: @no_modification_filter} %>
    <% end %>
  </div>

</div>

<%= link_to 'Edit', edit_ingredient_modification_path(@ingredient_modification) %> |
<%= link_to 'Back', ingredient_modifications_path %>
