<%= form_for(@ingredient_family) do |f| %>
  <% if @ingredient_family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient_family.errors.count, "error") %> prohibited this ingredient_family from being saved:</h2>

      <ul>
      <% @ingredient_family.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ingredient_category_id %><br>
    <%= f.select :ingredient_category_id, options_for_select(@ingredient_category_dropdown, @ingredient_family.ingredient_category_id), {}, class: 'chosen-select' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
