<p id="notice"><%= notice %></p>

<h1>
  <%= @ingredient_family.name %>
</h1>

<p>
  <strong>Category:</strong>
  <%= link_to @ingredient_family.ingredient_category.name, ingredient_category_path(@ingredient_family.ingredient_category.id) %>
</p>

<%= link_to 'Edit', edit_ingredient_family_path(@ingredient_family) %> |
<%= link_to 'Back', ingredient_families_path %>

  <% if @filters.any? %>
    <h4> Filtered by: </br>
      --
      <% @filters.each do |f| %>
        <%= " #{f.name} -- " if f %> 
      <% end %>
    </h4>
    <%= link_to 'Remove filters', @ingredient %></br></br>
  <% end %>

<div class="row-fluid">
  <div class="span3">
    <p>
      <h1>Cocktails:</h1>
        <ul>
          <% @filtered_cocktails.each do |cocktail| %>
          <li> <%= render partial: 'cocktails/list_cocktail', locals: {cocktail: cocktail } %> </li>
          <% end %>
        </ul>
    </p>
  </div>

  <div class="span3">

    <p>
      <h1>Child Ingredients Types:</h1>
        <ul>
          <% @ingredient_family.ingredient_types.sort_by{ |i| -i.cocktails_count }.each do |ingredient_type| %>
          <li> <%= link_to ingredient_type.name, ingredient_type_path(ingredient_type.id) %>  (has <%= ingredient_type.ingredients.count %> ingredients in <%= ingredient_type.cocktails_count %> cocktails)</li>
          <% end %>
        </ul>
    </p>
    <p>
      <h1> Child Ingredients:</h1>
        <ul>
          <% @ingredient_family.ingredients.each do |i| %>
              <li> <%= link_to i.show(true), ingredient_path(i.id) %> </li>
          <% end %>
        </ul>
    </p>
  </div>

  <div class="span3">

    <% unless @filtered_modifications.empty? %>
      <%= render partial: 'ingredient_modifications/modifications_list', locals: {filtered_modifications: @filtered_modifications, no_modification_filter: @no_modification_filter} %>
    <% end %>
    
    <%= render partial: 'ingredient_types/types_list', locals: {filtered_ingredient_types: @filtered_ingredient_types, no_ingredient_type_filter: @no_ingredient_type_filter} %>
  </div>


  <div class="span3">
    <%= render partial: 'ingredients/ingredient_list', locals: {filtered_shared_ingredients: @filtered_shared_ingredients, no_ingredient_filter: @no_ingredient_filter} %>
  </div>

</div>