<p id="notice"><%= notice %></p>

<h1>
  <%= @ingredient_family.name %>
</h1>

<p>
  <strong>Category:</strong>
  <%= link_to @ingredient_family.ingredient_category.name, ingredient_category_path(@ingredient_family.ingredient_category.id) %>
</p>

<%= link_to 'Edit', edit_ingredient_family_path(@ingredient_family) %> |
<%= link_to 'Back', ingredient_families_path %>

  <% if @filters.any? %>
    <h4> Filtered by: </br>
      --
      <% @filters.each do |f| %>
        <%= " #{f.name} -- " if f %> 
      <% end %>
    </h4>
    <%= link_to 'Remove filters', @ingredient %></br></br>
  <% end %>

<div class="row-fluid">
  <div class="span9">
<%= render partial: 'ingredients/shared_heirarchy', locals: {shared_ingredient_heirarchy: @shared_ingredient_heirarchy, no_ingredient_filter: @no_ingredient_filter, no_ingredient_type_filter: @no_ingredient_type_filter, no_ingredient_family_filter: @no_ingredient_family_filter, active_filters: @active_filters, ingredient_families: @filtered_ingredient_families} %>
  </div>

  <div class="span3">
    <% unless @filtered_modifications.empty? %>
      <%= render partial: 'ingredient_modifications/modifications_list', locals: {filtered_modifications: @filtered_modifications, no_modification_filter: @no_modification_filter} %>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <div class="span9">
    <p>
      <h3>Cocktails: (<%= @filtered_cocktails.count %>)</h3>
        <ul>
          <% @filtered_cocktails.each do |cocktail| %>
          <li> <%= render partial: 'cocktails/list_cocktail', locals: {cocktail: cocktail, active_filters: @active_filters, no_ingredient_filter: @no_ingredient_filter } %> </li>
          <% end %>
        </ul>
    </p>
  </div>


  <div class="span3">

    <h3> Ingredient Children </h3>
    <ul>
      <% @ingredient_family.ingredient_types.each do |its| %>
      <li> <%= link_to its.name, its %></li>
      <ul>
        <% its.ingredients.each do |ing| %>
          <li> <%= link_to ing.name, ing %> </li>
        <% end %>
      </ul>
      <% end %>
    </ul>
  </div>

</div>