<!DOCTYPE html>
<html>
<head>
  <title>CocktailCatalog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="header">
		<%= link_to 'Home', root_url %> | 
		<%= link_to 'Cocktails', cocktails_path %> | 
		<%= link_to 'Ingredients', ingredients_path %> 
	</header>
	<div class="container">
<%= yield %>
	</div>
</body>
</html>
